{% extends 'base.html.twig' %}

{% block title %}New AvisProduit{% endblock %}

{% block body %}
    <h1>Create new AvisProduit</h1>

    {{ include('avis_produit.html.twig/_form.html.twig') }}

    <a href="{{ path('app_avis_produit_index') }}">back to list</a>
{% endblock %}
