<form method="post" action="{{ path('app_quiz_participants_delete', {'id': quiz_participant.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ quiz_participant.id) }}">
    <button class="btn">Delete</button>
</form>
